.about
{
    text-align: center;
    padding-top: 5rem;
}

.about h2
{
    margin-bottom: 2rem;
}

.about h3
{
    font-weight: 200;
    color: #ddd;
    margin-bottom: 1rem;
}

.about h3 > *
{
    vertical-align: middle;
}

.about h3 a
{
    display: inline-block;
    color: #ddd;
    font-weight: 400;
    text-decoration: none;
    height: 100%;
    vertical-align: none;
}

.about h3 a > *
{
    vertical-align: middle;
}

.about h3 b
{
    font-size: 1.4em;
}

.about h3 span
{
    font-weight: bold;
    color: var(--accent-color);
}

.about h3 img
{
    width: 1.5rem;
    aspect-ratio: 1;
}