.home
{
    padding: 2rem 0;
}

.search-form
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.search-form label
{
    --input-inline-padding: 0.8rem;
    --placeholder-color: #175c00;
    width: max-content;
    position: relative;
    overflow: hidden;
    border-radius: 100vw;
    box-shadow: 0 0 1rem #000;
}

.search-form label:focus-within .placeholder
{
    display: none;
}

.search-form label .placeholder
{
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: var(--input-inline-padding);
    color: var(--placeholder-color);
    font-weight: 500;
}

.search-form input
{   
    appearance: none;
    padding: 0.7rem var(--input-inline-padding);
    border: none;
    background-color: var(--accent-color);
    outline: none;
    color: white;
    font-size: 1rem;
    min-width: 50vmin;
}


.search-form label svg
{
    cursor: pointer;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: var(--input-inline-padding);
    font-size: 1.5rem;
    color: var(--placeholder-color);
    pointer-events: all;
}

.recipes-container
{
    display: grid;
    align-items: flex-start;
    justify-items: center;
    justify-content: center;
    padding: 0.5rem;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(max-content, 320px));
}

.link-wrapper
{
    color: inherit;
    text-decoration: none;
    width: 320px;
    height: max-content;
    perspective: 1000px;
}

.link-wrapper:hover
{
    opacity: 1;
    text-decoration: none;
    z-index: 999;
}

.recipe-card
{
    width: 100%;
    height: auto;
    position: relative;
    transition: 0.2s transform ease;
    z-index: 1;
    border-radius: 0.5rem;
    overflow: hidden;
    pointer-events: none;
    box-shadow: 0 0 1rem #000;
}

.link-wrapper:hover .recipe-card
{
    transform: scale(1.1);
}

.recipe-card img
{
    width: 100%;
    height: 230px;
    object-fit: cover;
    display: block;
    border-radius: inherit;
}

.recipe-card h3
{
    position: absolute;
    bottom: 0;
    z-index: 1;
    color: inherit;
    text-decoration: none;
    font-size: 0.95rem;
    padding: 0.5rem;
    background-color: #213d15f0;
    width: 100%;
}