.search-form
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.search-form label
{
    --input-inline-padding: 0.8rem;
    --placeholder-color: hsl(105, 100%, 20%);
    width: max-content;
    position: relative;
    overflow: hidden;
}

.search-form input
{
    
    appearance: none;
    padding: 0.7rem var(--input-inline-padding);
    border-radius: 100vw;
    border: none;
    background-color: var(--accent-color);
    outline: none;
    color: white;
    font-size: 1rem;
    min-width: 50vmin;
}

.search-form input::placeholder
{
    color: var(--placeholder-color);
    font-weight: 500;
}

.search-form label svg
{
    cursor: pointer;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: var(--input-inline-padding);
    font-size: 1.5rem;
    color: var(--placeholder-color);
    pointer-events: all;
}

.recipes-container
{
    display: grid;
    align-items: top;
    justify-items: center;
    justify-content: center;
    padding: 0.5rem;
    gap: 1rem 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(max-content, 320px));
}

.link-wrapper
{
    color: inherit;
    text-decoration: none;
    width: max-content;
    background-color: #35b00c2f;
    border-radius: 0.5rem;
    overflow: hidden;
    width: 320px;
    height: max-content;
}

.recipe-card
{
    width: 100%;
    height: auto;
}

.recipe-card img
{
    width: 100%;
    height: 230px;
    object-fit: cover;
    display: block;
}

.recipe-card h3
{
    color: inherit;
    text-decoration: none;
    font-size: 0.95rem;
    padding: 0.5rem;
}