@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap');

.recipe-container
{
    padding: 2rem;
    padding-top: 3rem;
}

.recipe
{
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    color: #ccc;
}

.recipe h1
{
    margin-bottom: 1rem;
    font-weight: 400;
    color: #eee;
}


/* Recipe Head */

.recipe-head
{
}

.recipe .recipe-title
{
    margin-bottom: 3rem;
    font-size: 6vmin;
    text-align: center;
}

.recipe-image
{
    display: block;
    margin: 0 auto;
    margin-bottom: 3rem;
    width: auto;
    max-width: 100%;
}

.recipe-info-container
{
    display: flex;
    gap: min(2rem, 5vmin);
    flex-flow: wrap;
    justify-content: center;
    align-content: flex-start;
    margin-bottom: 3rem;
    flex: 1;
}

.recipe-info-container .recipe-info
{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: max-content;
}

.recipe-info-container .recipe-info .material-icons-round
{
    background-color: #464;
    padding: 0.5rem;
    border-radius: 100%;
    width: auto;
    height: auto;
    margin-right: 0.5rem;
}


/* Recipe Body */

.recipe-body
{
    max-width: 80ch;
    margin: 0 auto;
}

.summary
{
    letter-spacing: 0.05rem;
    font-weight: 400;
    display: block;
    margin-bottom: 2rem;
    color: #bbb;
    line-height: 1.6;
}

.ingredients
{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(30ch, max-content));
    gap: 1rem 2.5rem;
    margin-bottom: 2rem;
}

.ingredients .ingredient
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    overflow: hidden;
    width: 100%;
    max-width: 40ch;
}

.ingredients .ingredient img
{
    width: 100px;
    aspect-ratio: 1;
    object-fit: scale-down;
    background: black;
}

.instructions ol
{
    list-style: none;
    counter-reset: list-counter;
    width: 90%;
    margin: 0 auto;
    margin-left: 2.5rem;
}

.instructions ol li
{
    margin-bottom: 2rem;
    counter-increment: list-counter;
    position: relative;
}

.instructions ol li::before
{
    content: counter(list-counter);
    display: grid;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: -2.5rem;
    color: #eee;
    background-color: #464;
    border-radius: 100%;
    aspect-ratio: 1;
    width: 2rem;
    place-content: center;
}
